!!!
%html
  %head
    %title Haml Coffee Sinatra
    %script{ src: javascript_path('application') }

  %body
    %h1 Haml Coffee Sinatra
    %p This is a server side Ruby Haml template that renders a Haml Coffee template on the client side.

    #target
